.bg-navigation-header{
    background-color: #1b7fd0;
    box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
    position: relative;
    z-index: 1;
}

.navigation{
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

.navigation li a{
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    font-family: 'r-regular';
    font-size: 20px;
    padding: 10px;
}

.navigation li a::after{
    content: "";
    width: 2px;
    background-color: #ffffff;
    top: 13px;
    bottom: 13px;
    left: 0px;
    position: absolute;
 }

 .navigation li:first-child a::after{
    display: none;
 }

 .navigation .active-menu-link,
 .navigation li a:hover{
    background-color: #caddea;
    color: #1b7fd0;
    border-radius: 0;
    transition: 0.2s;
}

.navigation li:hover a::after{
    display: none;
}

.navigation li:hover+li a::after{
    display: none;
}

.navigation .active-menu-link::after,
.navigation li:nth-child(5) a::after{
    display: none;
}

.navigation li:active a{
    background-color:#013259;
    transition: 0.2s;
}


